/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Oct, 2017, 12:45:06 AM
    Author     : Admin
*/
*{
padding:0;
margin:0;
}

#menu1
{width:100%;
height:20px;
background-color:#f0f8ff;}
#menu1_in
{margin-left:900px;
width:200px;
height:20px;
background-color:#f0f8ff;}
#menu1_in ul
{list-style-type:none;
float:left;
}
#menu1_in ul li
{float:left;
margin-left:20px;}
#menu1_in ul li a
{text-decoration:none;
margin-right:10px;
color:#000000;
display:inline-block;}
#img
{width:100%;
height:200px;
background-image:url('img/bg.jpg');
background-repeat:no-repeat;
background-size:cover;
}
#img1
{width:540px;
height:50px;
background-image:url('img/bg1.png');
background-repeat:repeat-x;
background-size:cover;
position:absolute;
top:170px;
left:32%;}
#menu
{
width:100%;
height:40px;
background-color:00ff00;

}
#menu_in
{
width:800px;
height:40px;
margin:0 auto;
}
#menu_in ul
{list-style-type:none;
}
#menu_in ul li
{font-size:18px;
padding-right:10px;
width:140px;
float:left;}

#menu_in ul li a
{color:#ffffff;
width:100px;
padding:10px 20px;
margin-right:20px;
font-weight:bold;
text-decoration:none;
display:inline-block;
}
#menu_in ul li ul
{
display:none;}
#menu_in ul li:hover ul
{
display:block;
background-color:red;
position:absolute;
top:260px;
width:140px;}

#menu_in ul li a:hover{
background-color:#000000;
text-decoration:underline;}
#page
{width:960px;
box-shadow:4px 4px 15px #000000;
height:1000px;
background-color:#f0ffff;
padding:20px;}
#page i
{color:green;
}
#footer
{
wider:100%;
height:50px;
background-color:#8a2be2;}

.help{
width:960px;
height:200px;
background-color:#f0f0f0;
}
h1{
padding:20px;
float:center;}
p{
color:white;
font-size:30px;}
h2
{color:red;
font-size:100px;
padding:20px;}

